body {
  font-family: sans-serif;
}

.container {
  width: 100%;
  background-color: #ffb677;
  border: 2px solid #57385c;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

Input {
  background-color: #e8751a;
  color: #57385c;
  padding: 10px 30px;
  border-radius: 6px;
  border: 2px solid #57385c;
}
.icon canvas {
  margin-left: 50px;
  padding: 5px;
 
  
}
.temperature-today {
  font-size: 30px;
  text-align: center;
  color: #57385c;
  margin: 0;
  line-height: 20px;
}
.typeofday {
  font-size: 24px;
  color: #57385c;
  text-align: center;
  text-transform: capitalize;
}

.celsius,
.fahrenheit {
  position: relative;
  font-size: 12px;
  top: -18px;
  text-align: center;
}

.update {
  font-size: 20px;

  font-weight: bold;
  text-align: center;
  color: #57385c;
  margin-left: -15px;
}
.day-today {
  font-size: 30px;
  font-weight: bolder;
  color: #57385c;
  text-align: center;
  margin-left: -15px;
  margin-bottom: 0px;
}
.location {
  padding: 10px;
  font-size: 35px;
  text-align: center;
  color: rgb(76, 48, 80);
  display: block;
  background-color: #e8751a;
  border: rgb(76, 48, 80) 2px solid;
  border-radius: 6px;
  margin-top: 10px;
}
.humidity {
  margin-left: 24px;
  margin-top: 25px;
  font-weight: bold;
}
p {
  font-size: 20px;
  color: #57385c;
  text-align: center;
}

@media (max-width: 700px) {
  .icon canvas {
    width: 40px;
    display: block;
    margin-left: 30px;
  }
  input {
    padding: 5px 5px;
    margin: 0;
  }
  .day-today {
    font-size: 10px;
  }
  .typeofday {
    font-size: 15px;
    margin-top: 10px;
  }
  .temperature-today {
    font-size: 30px;
  }

  .update{
    font-size: 15px;
  }
  .location {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 15px;
  }
  p {
    font-size: 13px;
  }
  .WeatherForecast{
    display: none;
  }
}
